:root{}

body {
  background-color: aqua;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  gap: 1rem;
}

#calculator {
  flex-direction: column;
  margin: 40px auto;
  padding: 10px;
  width: 400px;
  height: 400px;
  background-color: black;
}

#display {
  border: 5px solid green;
  background-color: white;
  text-align: right;
}

#buttons {
  grid-template-columns: repeat(4, 1fr);
}

#clear, #delete {
  grid-column: span 2;
}