:root {
  --background-purple: rgb(57, 8, 118);
  --sum-red: rgb(205, 24, 24);
  --difference-blue: rgb(29, 102, 211);
  --product-green: rgb(32, 148, 32);
  --quotient-orange: rgb(180, 93, 0);
}

body {
  background-color: var(--background-purple);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  gap: 1rem;
}

h1 {
  text-align: center;
  color: white;
}

p {
  margin: 3px;
}

button {
  font-size: 1.5rem;
  border-radius: 5%;
  box-shadow: 0px 0px 3px var(--background-purple);
}

#calculator {
  flex-direction: column;
  margin: 40px auto;
  padding: 10px;
  width: 500px;
  background-color: white;
  border-radius: 10px;
}

#display-box {
  border: 5px solid var(--background-purple);
  background-color: white;
  text-align: right;
  margin-bottom: 10px;
  border-radius: 7px;
}

#display {
  font-size: 2rem;
}

#buttons {
  grid-template-columns: repeat(4, 1fr);
}

#clear,
#delete {
  grid-column: span 2;
}

#add {
  color: var(--sum-red);
}

#subtract {
  color: var(--difference-blue);
}

#multiply {
  color: var(--product-green);
}

#divide {
  color: var(--quotient-orange);
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  justify-content: center;
  color: white;
  background-color: black;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}